.welcome {
    padding: 100px 0 100px 0;
    width: 100%;
    background: #2285bb;
    color: #ffffff;
}

.info {
    padding: 100px 0 100px 0;
    width: 100%;
    background: #ffab61;
    color: #ffffff;
}

.info h3 {
    text-align: center;
    color: #ffffff;
}

.welcome h3 {
    text-align: center;
    color: #ffffff;
}

html, body {
    background: #ededed;
    min-height: 100%;
}

header h1 small:before  {
    content: "|";
    margin: 0 0.5em;
    font-size: 1.4em;
}

footer {
    background: #ccc;
}

.wrap {
    overflow: auto;
    min-height: 100%;
    padding-bottom: 0;
}

.top-menu {
    background: #1a1a1a;
}

.noteg {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}